<p> Name: <%= @categories["name"] %> </p>


<a href="<%=@categories["id"]%>/edit"> Edit this category.</a>
<form action="/categories/<%= @categories["id"] %>/destroy" method="post">
    <input type="submit" name="" value="Delete this category.">
</form>

